<body>
    Hi <%= user.name %>, <br>
    We have received a request to reset your password. Follow the below <b>One-time link</b> to change your password. <br>
    <%= resetUrl %> <br>
    <hr>
    If you have not requested the link then please ignore this email. 
    <br>
    Cheers,<br>
    Quick Quip Team
  </body>